@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    border: 0;
    padding: 0;
}

html, body {
    min-height: 700px;
    height: 100%;
    min-width: 1000px;
    width: 100%;
    position: relative;
    
}
/* nav */

nav {
    background-color: #232323;
    width: 100%;
    min-width: 1000px;
    min-height: 85px;
    position: fixed;
    z-index: 2;
}

nav > i{
    color: #69369E;
}

nav > i:hover {
    color: #7951A8;
}

.bodyDiv {
    padding-top: 85px;
    background-image: url('images/bg-img.webp');
}

/* lists on the left */

.listNav {
    background-color: #656565;
    height: 100%;
    max-height: 100%;
    overflow-x: hidden;
    
}

.listNav hr {
    height: 2px;
    width: 100%;
    background-color: black;
}

.listScrollCon {
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 0 ;
    
}

::-webkit-scrollbar {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: #232323;
    border-radius: 10px;
}

#listsCon {
    padding: 0 20px;
    height: 100%;

}

.userLists {
    display: flex;
    flex-direction: column-reverse;
}

.selectedList {
    color: #441f4a;
}

.uLists, .selectedList {
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1.5px solid black;
    min-height: 60px;
    font-size: 2em;
    text-align: center;
    overflow-wrap: break-word;
    position: relative;
    top: 0;
    transition: top ease .3s;
    list-style-type: none;
    
}

.uLists:hover, .selectedList:hover {
    top: -5px;
    background-color: #7951A8;
    box-shadow: 0 5px 10px black;
    border-radius: 7px;
    z-index: 1;
    border: 1px solid black;
}


/* current list */

#listBody {
    padding: 20px 50px;
    height: 100%;
    max-height: 100%;
    background-color: #989898;
    
}

.currNameDiv {
    width: 100%;
}

h1 {
    font-size: 4em;
    overflow-wrap: break-word;
    min-height: 96px;
    width: 80%;
}

#H1ei {
    outline: transparent;
    outline-offset: 2px;
    background-color: inherit;
    color: black;
    width: 70%;
}

#firstListName::placeholder, #H1ei::placeholder {
    color: #656565;
  }

/* buttons for the current list */

summary::marker {
    content: none;
}

#search {
    font-size: 25px;
    width: 50px;
    text-align: center;
}
#search i:hover {
    color: whitesmoke;
}

#search div {
    right: 50px;
    top: -3px;
    width: 200px;
}

#search div input {
    border-radius: 10px;
    padding-left: 15px;
    border: 2px solid black;
    width: 100%;
    background-color: whitesmoke;
}



#deleteList {
    text-align: center;
    width: 50px;
    font-size: 25px;
}

#deleteList:hover {
    color: crimson;
}

#listBody hr {
    height: 2px;
    width: 100%;
    background-color: black;
    margin-bottom: 15px;
}

#currTodos {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: red;
    max-height: 50vh;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid black;
    
}   

h2 {
    font-size: 2em;
    text-align: center;
    padding: 20px;
}

.userTodos {
    max-height: 100%;
}

.uTodos {
    padding: 20px 20px;
    font-size: 1.9em;
    display: flex;
    border-top: 2px solid black;
}

.uTodos:first-child {
    border-top: none;
} 

.uTodos:last-child {
    border-bottom: none;
}

.checkCon {
    min-height: 100%;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.checkCon input {
    transform: scale(2,2);
    height: min-content;
    
}

.listItemInput {
    background-color: inherit;
    outline: 2px solid transparent;
    outline-offset: 2px;
    color: #262626;
}

.listItemInput::placeholder {
    color: #656565;
}
.uTodos > button {
    padding: 0 20px;
    position: relative;
    z-index: 1;
}

.uTodos > button i {
    position: relative;
    top: 0;
    transition: top ease .3s;

}

.uTodos > button i:hover {
    color: crimson;
    top: -3px;
    
    
}

.uTodos > button:last-child i:hover {
    color: green;
}

.searchedItem {
    background-color: rebeccapurple;
}

#addItemDiv {
    background-color: #7951A8;border-radius: 0 0 10px 10px;
    border: 2px solid black;
    padding: 20px 20px;
    position: relative;
    z-index: 1;
}

.newTodo {
    font-size: 1.9em;
    background-color: inherit;
}

#clearBtn {
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: #69369E;
    position: relative;
    top: 0;
    transition: top ease .3s;
}

#clearBtn:hover {
    background-color: #a079cd;
    top: -3px;
}
